#pip install -r requirements.txt
python-telegram-bot
dill
requests
Flask==1.1.4
flask-login
sqlalchemy
flask-sqlalchemy
flask_classy
tabulate
click
mock
pymysql
Flask-Testing
Faker
beautifulsoup4
flask_wtf
flask_debugtoolbar
flask_babelex
flask_admin
lxml
transliterate
Flask-Security
pycryptodome
pyyaml
Flask-Migrate==2.7
Pillow
plotly
simplejson
Flask-Script==2.0.6
markupsafe==2.0.1
WTForms==2.3.3
pytz