[Unit]
	Description=uWSGI instance for kasa_blanka PRRO

[Service]
    User=signer-agent
	Restart = always
	RestartSec = 3
	WorkingDirectory=/home/signer-agent/openprro
	ExecStart=/bin/bash -c 'source venv/bin/activate; uwsgi --ini wsgi.ini'

[Install]
	WantedBy=multi-user.target