[Unit]
	Description=uWSGI instance to service OpenPRRO From Offline To Online

[Service]
	Restart = always
	RestartSec = 60
	ExecStart=/usr/bin/bash -c 'cd /home/signer-agent/py-signer/; source venv/bin/activate; python3.9 manage_data.py to_online'

[Install]
	WantedBy=multi-user.target
