{% macro display_errors(field) %}
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_sm3_field(field) %}
    <div class="col-sm-3">
        {{ field.label(class_="control-label") }}
        {{ field()|safe }}
        {{ display_errors(field) }}
    </div>
{% endmacro %}

{% macro render_field(field) %}
    {{ field.label(class_="col-sm-3 control-label") }}
    <div class="col-sm-9">
        {{ field(class_="form-control")|safe }}
        {{ display_errors(field) }}
    </div>
{% endmacro %}

{% macro modal_header(ident, title='Купівля-продаж валюти') %}
    <div id="{{ ident }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">{{ title }}</h4>
    </div>
    <div class="modal-body">
{% endmacro %}
{% macro modal_footer(cancel='Відміна', cancelid='cancelOperation', ok='Провести', okid='performOperation', empty=False) %}
    </div>
    {% if not empty %}
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id='{{ cancelid }}' data-dismiss="modal">{{ cancel }}</button>
            <button type="button" class="btn btn-primary" id='{{ okid }}'>{{ ok }}</button>
        </div>
    {% endif %}
    </div>
    </div>
    </div>
{% endmacro %}
